@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.2s ease-in-out;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
    width: 4.5px;
    height: 4.5px;
}
body::-webkit-scrollbar-thumb {
    box-shadow: none;
    background-color: grey;
    border-radius: 4.5px;
}
body::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
    border-radius: 10px;
    background-color: transparent;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    box-shadow: none;
    background-color: rgba(128, 128, 128, 0.616);
    border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
    border-radius: 10px;
    background-color: transparent;
}
.custom-scrollbar-low-opacity::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}
.custom-scrollbar-low-opacity::-webkit-scrollbar-thumb {
    box-shadow: none;
    background-color: rgba(128, 128, 128, 0.196);
    border-radius: 1px;
}
.custom-scrollbar-low-opacity::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
    border-radius: 10px;
    background-color: transparent;
}
.top-nav button > :nth-child(1) {
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .top-nav button {
        padding: 5px;
    }
}
